* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
ol li,
ul li {
  display: block;
}
header,
p,
section,
footer {
  width: 100%;
}
img,
object,
embed,
video {
  max-width: 100%;
  height: auto;
}
.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body {
  font-size: 17px;
  font-family: 'Khula', sans-serif;
  color: #212121;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  width: 100%;
  margin: 1em 0;
  font-family: 'Slabo 27px', serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: 'Oswald', Helvetica, sans-serif;
}
h1 {
  font-size: 2em;
  font-weight: 500;
}
.page-title {
  border-bottom: 1px solid #e3dfd9;
  text-align: center;
}
@media all and (min-width: 767px) {
  .page-title {
    margin-top: 3em;
  }
}
h2 {
  font-size: 1.7em;
  text-align: left;
}
h3 {
  font-size: 1.5em;
  text-align: center;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
  margin: 0;
}
p {
  padding: 0.5em 0;
}
.yellow-emphasis {
  color: #ffa644;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100vh;
  background: #ffffff url(images/body-top.png) center top no-repeat;
  background-attachment: fixed;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
section:not(.global--block) {
  padding: 10px;
  max-width: 1024px;
}
@media all and (min-width: 767px) {
  .narrow-box {
    width: 55%;
    margin: 0 auto;
  }
}
.global--block {
  padding: 5em 0;
  width: 100%;
}
.global--block.grey {
  background: rgba(0, 0, 0, 0.7);
  color: #f4f3f2;
}
.global--block.neutral {
  background: rgba(224, 220, 209, 0.5);
}
article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media all and (min-width: 767px) {
  article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 90%;
  }
}
.global__images-border {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.global__images-border img {
  padding: 18px;
  background: rgba(224, 220, 209, 0.5);
  border: 3px solid #e3dfd9;
}
.global__images-border img,
.global__images-border p {
  width: 200px;
  margin: 0 auto;
}
.global__images-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.global__little-list {
  font-size: 0.8em;
  color: #eb6673;
}
.global__little-list li {
  padding: 6px 12px;
  display: inline-block;
}
.cardholder {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  border: 1px solid #e3dfd9;
  margin: 7px 0;
  cursor: default;
}
.cardholder a {
  display: block;
  width: 100%;
  height: 100%;
}
.cardholder:focus,
.cardholder:hover {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cardholder:focus h3,
.cardholder:hover h3 {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card h3 {
  margin: 0;
}
footer {
  width: 100%;
  background: rgba(224, 220, 209, 0.3);
  border-top: #e3dfd9;
  font-size: 0.6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 5%;
  display: none;
}
@media all and (min-width: 767px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
footer ul {
  width: 100%;
}
@media all and (min-width: 767px) {
  footer ul {
    width: auto;
  }
}
footer ul li {
  display: block;
  padding: 10px 7px;
  text-align: center;
  background: rgba(224, 220, 209, 0.5);
  margin: 4px 0;
}
@media all and (min-width: 767px) {
  footer ul li {
    display: inline;
    padding: 0 7px;
    background: transparent;
    margin: 0;
  }
}
footer ul li a {
  color: #eb6673;
}
main {
  min-height: 100%;
}
@media all and (min-width: 767px) {
  main {
    margin-bottom: -3em;
  }
}
main:after {
  content: "";
  display: block;
}
footer,
main:after {
  height: 5em;
}
.hidden {
  display: none;
}
header {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), color-stop(3.5em, rgba(0, 0, 0, 0.7)), color-stop(3.5em, transparent), color-stop(3.5em, #e3dfd9), color-stop(3.06em, transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 3.5em, transparent 3.5em, #e3dfd9 3.5em, transparent 3.06em);
  z-index: 5;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ffffff;
}
header.closed {
  bottom: -160px;
  z-index: 1;
}
@media screen and (min-width: 767px) {
  header.closed {
    top: -160px;
  }
}
@media all and (min-width: 767px) {
  header {
    top: 0;
    bottom: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 220, 209, 0.3)), color-stop(3em, rgba(224, 220, 209, 0.3)), color-stop(3em, transparent), color-stop(3em, #e3dfd9), color-stop(3.06em, transparent));
    background-image: linear-gradient(to bottom, rgba(224, 220, 209, 0.3), rgba(224, 220, 209, 0.3) 3em, transparent 3em, #e3dfd9 3em, transparent 3.06em);
    color: #000000;
  }
}
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 1%;
}
.topnav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', Helvetica, sans-serif;
  text-align: right;
}
@media all and (min-width: 767px) {
  .topnav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.square-logo a {
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a9c528;
  padding: 15px;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: -2px;
}
.square-logo a:hover,
.square-logo a:focus {
  -webkit-transform: scale(1.1) rotate(0deg);
          transform: scale(1.1) rotate(0deg);
}
.square-logo h1,
.square-logo h2 {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.square-logo h1 {
  letter-spacing: -0.04em;
  line-height: 1;
  font-weight: 300;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.square-logo h1 span {
  letter-spacing: -0.07em;
}
.square-logo h2 {
  font-size: 0.8em;
  text-align: right;
  color: #ffffff;
}
body.home .square-logo a {
  color: blanchedalmond;
}
body.home2 .square-logo a {
  color: #eb6673;
}
body.css .square-logo a {
  color: #ffa644;
}
body.art .square-logo a {
  color: #eb6673;
}
body.design .square-logo a,
body.gaps .square-logo a {
  color: #97c6d9;
}
.mobile-menu-btn {
  font-size: 2.7em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 10px;
  line-height: 1;
}
@media all and (min-width: 767px) {
  .mobile-menu-btn {
    display: none;
  }
}
.overlay-content {
  width: 100%;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (min-width: 767px) {
  .overlay {
    width: 100%;
    background: transparent;
    height: auto;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media all and (min-width: 767px) {
  .overlay li {
    display: inline-block;
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .overlay li:hover,
  .overlay li:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.overlay a {
  padding: 12px 24px;
  font-size: 36px;
  color: #ffffff;
  display: block;
}
@media all and (min-width: 767px) {
  .overlay a {
    font-size: 20px;
    padding: 12px 35px;
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}
.overlay a.css {
  color: #ffa644;
}
.overlay a.art {
  color: #eb6673;
}
.overlay a.design {
  color: #97c6d9;
}
.overlay a.about {
  color: #a9c528;
}
.overlay a:hover,
.overlay a:focus {
  color: #6b6969;
}
.overlay .closebtn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 7em;
  line-height: 0.7;
}
@media all and (min-width: 767px) {
  .overlay .closebtn {
    display: none;
  }
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:focus {
  color: #6b6969;
}
.primary-button {
  display: block;
  color: #000000;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}
.primary-button.pale-blue {
  background: #c1dedf;
}
.primary-button.blue {
  background: #97c6d9;
}
.primary-button.yellow {
  background: #ffa644;
}
.primary-button.green {
  background: #a9c528;
}
.primary-button.pink {
  background: #eb6673;
  color: #ffffff;
}
.primary-button.neutral {
  background: #d8d2ca;
}
.primary-button.grey {
  background: rgba(0, 0, 0, 0.7);
}
.primary-button:hover,
.primary-button:focus {
  -webkit-transform: scale(1.1) rotate(0deg);
          transform: scale(1.1) rotate(0deg);
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@media all and (min-width: 767px) {
  .home section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.home .home-intro {
  min-height: 100vh;
}
@media all and (min-width: 769px) {
  .home .home-intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/* ----- animation container. ----- */
.intro-animation {
  font-size: 1.3em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 769px) {
  .intro-animation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.intro-animation .type {
  /* -----  recolors some of the text ----- */
}
@media all and (min-width: 767px) {
  .intro-animation .type {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
}
.intro-animation .type p,
.intro-animation .type h1 {
  padding: 0.25em 0;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out 0s forwards;
          animation: fadeIn 1s ease-in-out 0s forwards;
}
.intro-animation .type h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
  margin: 0;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
@media all and (min-width: 414px) {
  .intro-animation .type h1 {
    font-size: 1.7em;
  }
}
.intro-animation .type p:nth-of-type(1) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.intro-animation .type p:nth-of-type(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.intro-animation .type p:nth-of-type(3) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.intro-animation .type .emphasis {
  color: #eb6673;
  font-family: 'Slabo 27px', serif;
}
.intro-animation .imum {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
          animation: fadeIn 1s ease-in-out 0.5s forwards;
  width: 60%;
}
@media all and (min-width: 769px) {
  .intro-animation .imum {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
  }
}
.home-css,
.home-art,
.home-bridge {
  margin: 10% 0;
}
@media all and (min-width: 1024px) {
  .home-css,
  .home-art,
  .home-bridge {
    min-height: 100vh;
    max-width: 90%;
    margin: 0 auto;
  }
}
@media all and (min-width: 767px) {
  .home-css .home-text,
  .home-art .home-text,
  .home-bridge .home-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .home-css .imum,
  .home-art .imum,
  .home-bridge .imum {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
.home-css .imum,
.home-art .imum,
.home-bridge .imum {
  text-align: center;
}
.home-css p,
.home-art p,
.home-bridge p {
  font-size: 19px;
}
.home-css h2,
.home-art h2,
.home-bridge h2 {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}
@media all and (min-width: 769px) {
  .home-css h2,
  .home-art h2,
  .home-bridge h2 {
    width: 60%;
  }
}
.home-css h2 a,
.home-art h2 a,
.home-bridge h2 a {
  display: block;
  color: #000000;
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
.home-css h2 a.pale-blue,
.home-art h2 a.pale-blue,
.home-bridge h2 a.pale-blue {
  background: #c1dedf;
}
.home-css h2 a.blue,
.home-art h2 a.blue,
.home-bridge h2 a.blue {
  background: #97c6d9;
}
.home-css h2 a.yellow,
.home-art h2 a.yellow,
.home-bridge h2 a.yellow {
  background: #ffa644;
}
.home-css h2 a.green,
.home-art h2 a.green,
.home-bridge h2 a.green {
  background: #a9c528;
}
.home-css h2 a.pink,
.home-art h2 a.pink,
.home-bridge h2 a.pink {
  background: #eb6673;
  color: #ffffff;
}
.home-css h2 a.neutral,
.home-art h2 a.neutral,
.home-bridge h2 a.neutral {
  background: #d8d2ca;
}
.home-css h2 a.grey,
.home-art h2 a.grey,
.home-bridge h2 a.grey {
  background: rgba(0, 0, 0, 0.7);
}
.home-css h2 a:hover,
.home-art h2 a:hover,
.home-bridge h2 a:hover,
.home-css h2 a:focus,
.home-art h2 a:focus,
.home-bridge h2 a:focus {
  -webkit-transform: scale(1.1) rotate(0deg);
          transform: scale(1.1) rotate(0deg);
}
.home-css h2 .bridge,
.home-art h2 .bridge,
.home-bridge h2 .bridge {
  color: #97c6d9;
}
.home-css h2 .bridge:hover,
.home-art h2 .bridge:hover,
.home-bridge h2 .bridge:hover,
.home-css h2 .bridge:focus,
.home-art h2 .bridge:focus,
.home-bridge h2 .bridge:focus {
  background: #97c6d9;
  color: #000000;
}
.home-css h2 .css,
.home-art h2 .css,
.home-bridge h2 .css {
  color: #ffa644;
}
.home-css h2 .css:hover,
.home-art h2 .css:hover,
.home-bridge h2 .css:hover,
.home-css h2 .css:focus,
.home-art h2 .css:focus,
.home-bridge h2 .css:focus {
  background: #ffa644;
  color: #000000;
}
.home-css h2 .art,
.home-art h2 .art,
.home-bridge h2 .art {
  color: #eb6673;
}
.home-css h2 .art:hover,
.home-art h2 .art:hover,
.home-bridge h2 .art:hover,
.home-css h2 .art:focus,
.home-art h2 .art:focus,
.home-bridge h2 .art:focus {
  background: #eb6673;
  color: #ffffff;
}
.home-css .imum,
.home-bridge .imum {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media all and (min-width: 769px) {
  .home-css .imum,
  .home-bridge .imum {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.home-css .home-text,
.home-bridge .home-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media all and (min-width: 767px) {
  .home-css .home-text,
  .home-bridge .home-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
body.css-pg .cardholder h5.primary-button {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
body.css-pg .cardholder:focus,
body.css-pg .cardholder:hover {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body.css-pg .cardholder:focus h5.primary-button,
body.css-pg .cardholder:hover h5.primary-button {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body.css-pg .cardholder p {
  font-size: 0.8em;
}
body.css-pg h1,
body.css-pg h2 {
  margin-bottom: 0;
}
body.css-pg .primary-button:nth-of-type(2) {
  margin-top: 24px;
}
