* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
ol li,
ul li {
  display: block;
}
header,
p,
section,
footer {
  width: 100%;
}
img,
object,
embed,
video {
  max-width: 100%;
  height: auto;
}
.flex-parent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body {
  font-size: 17px;
  font-family: 'Khula', sans-serif;
  color: #605f5f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  width: 100%;
  margin: 1em 0;
  font-family: 'Slabo 27px', serif;
}
h1 {
  font-size: 2em;
  font-weight: 500;
}
h2 {
  font-size: 1.7em;
  text-align: left;
}
h3 {
  font-size: 1.3em;
  text-align: center;
}
p {
  padding: 0.5em 0;
  line-height: 1.2em;
}
.yellow-emphasis {
  color: #f9b109;
}
body {
  min-height: 100vh;
  background: #ffffff url(images/body-top.png) center top no-repeat;
  background-attachment: fixed;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}
section.home-intro {
  min-height: 100vh;
}
article {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-device-width: 1024px) {
  article {
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
  }
}
.cardholder {
  flex: 0 0 31%;
  border: 1px solid #e3dfd9;
  margin: 7px 0;
  cursor: default;
}
.cardholder a {
  display: block;
  width: 100%;
  height: 100%;
}
.cardholder:focus,
.cardholder:hover {
  transform: rotate(-1deg);
  transition: all 0.3s;
}
.cardholder:focus h3,
.cardholder:hover h3 {
  transform: rotate(1deg);
  transition: all 0.3s;
}
.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card h3 {
  margin: 0;
}
footer {
  width: 100%;
  background: rgba(224, 220, 209, 0.3);
  border-top: #e3dfd9;
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em 5%;
}
@media all and (min-width: 767px) {
  footer {
    flex-direction: row;
  }
}
footer ul {
  width: 100%;
}
@media all and (min-width: 767px) {
  footer ul {
    width: auto;
  }
}
footer ul li {
  display: block;
  padding: 10px 7px;
  text-align: center;
  background: rgba(224, 220, 209, 0.5);
  margin: 4px 0;
}
@media all and (min-width: 767px) {
  footer ul li {
    display: inline;
    padding: 0 7px;
    background: transparent;
    margin: 0;
  }
}
footer ul li a {
  color: #fb6e67;
}
header {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 3.5em, transparent 3.5em, #e3dfd9 3.5em, transparent 3.06em);
  color: pink;
  z-index: 1;
  transition-duration: 1s;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header.closed {
  bottom: -160px;
  z-index: 1;
  transition-duration: 1s;
}
@media screen and (min-width: 767px) {
  header.closed {
    top: -160px;
  }
}
@media all and (min-width: 767px) {
  header {
    top: 0;
    bottom: auto;
    background-image: linear-gradient(to bottom, rgba(224, 220, 209, 0.3), rgba(224, 220, 209, 0.3) 3em, transparent 3em, #e3dfd9 3em, transparent 3.06em);
    color: black;
  }
}
header a {
  text-transform: uppercase;
  font-family: 'Oswald', Helvetica, sans-serif;
  text-decoration: none;
  text-align: right;
}
.topnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1%;
}
.square-logo a {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  color: #a9c528;
  padding: 15px;
  transform: scale(1.1) rotate(-1deg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.square-logo h1,
.square-logo h2 {
  transform: rotate(1deg);
  margin: 0;
}
.square-logo h1 {
  letter-spacing: -0.04em;
  font-weight: 300;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-family: 'Oswald', sans-serif;
}
.square-logo h1 span {
  letter-spacing: -0.07em;
}
.square-logo h2 {
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif;
  text-align: right;
  color: #ffffff;
}
body.home .square-logo a {
  color: #a9c528;
}
body.css .square-logo a {
  color: #f9b109;
}
.mobile-menu-btn {
  font-size: 2.7em;
  cursor: pointer;
  align-items: flex-end;
  display: flex;
  padding: 0 10px;
}
@media all and (min-width: 767px) {
  .mobile-menu-btn {
    justify-content: flex-end;
    height: 1.5em;
    width: 2em;
    align-items: center;
    font-size: 2.5em;
  }
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.overlay-content {
  width: 100%;
}
.overlay a {
  padding: 12px 25px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: #6b6969;
}
.overlay .closebtn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 7em;
}
@media all and (min-width: 767px) {
  .overlay .closebtn {
    top: 20px;
    right: 10px;
    bottom: auto;
  }
}
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 1.5em;
  }
  .overlay .closebtn {
    font-size: 2.5em;
    top: 15px;
    right: 0;
  }
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:focus {
  color: #6b6969;
}
.primary-button {
  display: block;
  color: #000000;
  padding: 1em;
  text-align: center;
}
.primary-button.pale-blue {
  background: #c1dedf;
}
.primary-button.yellow {
  background: #f9b109;
}
.primary-button.green {
  background: #a9c528;
}
.primary-button.pink {
  background: pink;
}
.primary-button.neutral {
  background: #d8d2ca;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* ----- animation container. ----- */
.block-animation {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  padding: 4em 0 1em;
  /* ----- now we set up the transparency and animation for individual elements ----- */
  /* -----  recolors some of the text ----- */
}
.block-animation p,
.block-animation h1 {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0s forwards;
  padding: 0.25em 0;
}
.block-animation h1 {
  animation-delay: 2s;
  font-size: 1.3em;
  margin: 0;
}
.block-animation p:nth-of-type(1) {
  animation-delay: 3.5s;
}
.block-animation p:nth-of-type(2) {
  animation-delay: 5s;
}
.block-animation .emphasis {
  color: #fb6e67;
}
/* ----- sets up the calls to action ----- */
.home-cta {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* ----- animates the div holding Imum, sets the opacity for all ----- */
  /* ----- tells Imum where to be ----- */
  /* ----- now we set up the home page calls to action ----- */
}
@media all and (min-width: 767px) {
  .home-cta {
    justify-content: center;
  }
}
.home-cta div {
  animation: fadeIn 1s ease-in-out 0s forwards;
  opacity: 0;
  animation-delay: 0s;
}
.home-cta .imum {
  flex: 0 0 auto;
  order: 2;
  text-align: center;
  /* ----- tells Imum how large to be ----- */
}
.home-cta .imum img {
  width: 200px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .home-cta .imum {
    flex: 1 1 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .home-cta .imum {
    order: 1;
  }
}
.home-cta .cta-box {
  border: 1px solid #E3DFD9;
  padding: 20px;
  width: 35%;
  animation-delay: 7.7s;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
  .home-cta .cta-box {
    width: 50%;
    padding: 10px;
  }
}
.home-cta .cta-box:nth-of-type(1) {
  font-family: 'Qwigley', cursive;
  font-size: 65px;
  order: 2;
  border-right: 0;
}
.home-cta .cta-box:nth-of-type(2) {
  font-family: 'Slabo 27px', serif;
  font-size: 35px;
  order: 2;
  border-left: 1px solid #E3DFD9;
}
@media only screen and (min-device-width: 1023px) {
  .home-cta .cta-box:nth-of-type(2) {
    order: 3;
    border-left: 0;
  }
}
.home-cta .cta-box a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.home-cta .cta-box a:hover,
.home-cta .cta-box a:focus {
  background: #d8d2ca;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.home-cta .cta-box:last-of-type a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #8bd4e7;
}
/* ---------- second section on the home page ---------- */
.home-details h2 {
  text-align: center;
}
@media all and (min-width: 767px) {
  body.css section:first-of-type {
    max-width: 70%;
    margin: 0 auto;
  }
}
body.css section h1 {
  margin-top: 3em;
  color: #f9b109;
  border-bottom: 1px solid #e3dfd9;
  text-align: center;
}
body.css .cardholder:focus,
body.css .cardholder:hover {
  transform: rotate(0);
  transition: all 0.3s;
}
body.css .cardholder:focus h3,
body.css .cardholder:hover h3 {
  transform: rotate(-1deg);
  transition: all 0.3s;
}
body.css .cardholder a {
  display: inline;
}
