a {
  text-decoration: none;
  color: @link-txt;

  &:hover, &:focus {
    color: @link-focus;
  }
}

.primary-button {
  display: block;
  color: @body-secondary-txt;
  padding: 1em;
  text-align: center;

  &.pale-blue {
    background: @pale-blue-emphasis;
  }

  &.yellow {
    background: @yellow-emphasis;
  }

  &.green {
    background: @green-emphasis;
  }

  &.pink {
    background: pink;
  }

  &.neutral {
    background: rgba(216,210,202,1);
  }
}
