// for the css page

body.css-pg {

  // altering the cards so only the headers skew.
  .cardholder {

    h5.primary-button {
      transform: rotate(0);
    }
    
    &:focus, &:hover {
      transform: rotate(0);
      transition: all 0.3s;

      h5.primary-button {
        transform: rotate(-1deg); // puts a slight skew on it.
        transition: all 0.3s;
      }
    }

    p {
      font-size: 0.8em;
    }
  }

  h1, h2 {
    margin-bottom: 0;
  }

  .primary-button:nth-of-type(2) {
    margin-top: 24px;
  }
}
