// variables repeated through the site.

@body-txt: #605f5f;
@body-secondary-txt: #000000;
@primary-bkg:  #ffffff;

@primary-border: #c9c9c9;

@light-blue: #8bd4e7;
@logo: #c53c49;
@green-emphasis: #a9c528;
@blue-emphasis:  #c1dedf;
@yellow-emphasis: #F9B109;
@pink-emphasis: #fb6e67;

// semi-transparent emphasis colors
@yellow-trans: rgba(249,177,8,0.6);
@green-trans: rgba(169,197,40,0.7);
@blue-trans: rgba(122,188,190,0.7);

@from: rgba(216,210,202,1);
@to: rgba(222,217,210,0.8);

@link-txt: #000000;
@link-focus: #fb6e67;

@f-awesome: 'FontAwesome';
